<launch>
    <!--arg name="gazebo_world"       default="$(find champ_gazebo)/worlds/outdoor.world" /-->
    <arg name="world_init_x"       default="0.0" />
    <arg name="world_init_y"       default="0.0" />
    <arg name="world_init_z"       default="1" />
    <arg name="world_init_heading" default="0.0" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find UR5_Arm)/world/object.world"/>
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="true"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>

        <!--arg name="verbose" default="true"/-->
    </include>
    <param name="robot_description" textfile="$(find UR5_Arm)/urdf/ur5_urdf.urdf"/>

    <!--rosparam file="$(find icheetah_config)/config/ros_control/ros_control.yaml" command="load"/-->

    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model arm -x $(arg world_init_x) -y $(arg world_init_y) -z $(arg world_init_z) -Y $(arg world_init_heading)" />


    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_state" to="/leg/joint_state"/>
    </node-->

    <rosparam file="$(find UR5_Arm)/config/ros_control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/arm"
          args="--namespace=/arm
            joint_states_controller
            shoulder_pan_joint_position_controller
            shoulder_lift_joint_position_controller
            elbow_joint_position_controller
            wrist_1_joint_position_controller
            wrist_2_joint_position_controller
            wrist_3_joint_position_controller
            ">
        </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/arm/joint_states"/>
    </node>


</launch>



